<h1>Listing reviewtunes</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewtunes.each do |reviewtune| %>
      <tr>
        <td><%= reviewtune.comment %></td>
        <td><%= link_to 'Show', reviewtune %></td>
        <td><%= link_to 'Edit', edit_reviewtune_path(reviewtune) %></td>
        <td><%= link_to 'Destroy', reviewtune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reviewtune', new_reviewtune_path %>
